<div class="nav-menu">
    <div class="container">
        <ul>
            <li class="active"><a href="#">Events</a></li>
            <li><a href="#">Other Link</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="events-header">
                <div class="row">
                    <div class="col-md-6">
                        <span class="title">Upcoming Events</span>
                    </div>
                    <div class="col-md-6 t-right">
                        <button class="btn btn-info create-event" ng-click="eventCtrl.goToCreate()">
                            Create Event
                        </button>
                    </div>
                </div>
            </div>
            <div class="events">
                <div class="header-of-events">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="event-name">Event</span>
                        </div>
                        <div class="col-md-4">
                            <span class="event-date">Date</span>
                        </div>
                        <div class="col-md-4">
                            <span class="event-tickets">Tickets Sold</span>
                        </div>
                    </div>
                </div>
                <div class="event-row" ng-repeat="event in eventCtrl.events">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="event-name">
                                <a ui-sref="event-view({id: event.event_id})">{{event.event_name}}</a>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="event-date">{{event.event_date | date: mediumDate}}</span>
                        </div>
                        <div class="col-md-3">
                            <span class="event-tickets">{{event.number_of_tickets}}</span>
                        </div>
                        <div class="col-md-1">
                            <a href="javascript:;"
                               ui-sref="event-edit({id: event.event_id})"
                               class="link-text">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>